<h3>Nuevo Cliente</h3>

<form (ngSubmit)="anadirCliente(this.cliente_nuevo)">
  <!-- <input type="text" class="form-control" [(ngModel)]="this.cliente_nuevo.tipo_contenedor" name="tipo_contenedor" required> -->

  <div class="form-floating mt-3 mb-3">
    <select
      class="form-select"
      id="floatingSelect"
      [(ngModel)]="cliente_nuevo.tipo_contenedor"
      name="tipo_contenedor"
    >
      <option value="" disabled selected>Selecciona tipo contenedor</option>
      <option value="Urbanoil">Urbanoil</option>
      <option value="Interoil">Interoil</option>
      <option value="Bidón">Bidón</option>
      <option value="Soterrado">Soterrado</option>
      <option value="Horecoil">Horecoil</option>
      <option value="Conteroil">Conteroil</option>
      <option value="Box">Box</option>
      <option value="Repsol">Repsol</option>
    </select>
    <label for="floatingSelect">Tipo Contenedor</label>
  </div>

  <div class="mb-3">
    <label class="form-label">PointID</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="cliente_nuevo.PointID"
      name="PointID"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="cliente_nuevo.nombre_cliente"
      name="nombre_cliente"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">CIF</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="cliente_nuevo.cif_cliente"
      name="cif_cliente"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Teléfono</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="cliente_nuevo.telefono_cliente"
      name="telefono_cliente"
    />
  </div>

  <!-- <textarea class="form-control" [(ngModel)]="cliente_nuevo.tipo_legal" name="tipo_legal" rows="3"></textarea> -->
  <div class="form-floating mt-3 mb-3">
    <select
      class="form-select"
      id="floatingSelect"
      [(ngModel)]="cliente_nuevo.tipo_legal"
      name="tipo_legal"
      required
    >
      <option value="" disabled selected>Selecciona tipo legal</option>
      <option value="Horeca">Horeca</option>
      <option value="EESS Repsol">EESS Repsol</option>
      <option value="Contenedor">Contenedor</option>
    </select>
    <label for="floatingSelect">Tipo legal</label>
  </div>

  <div class="mb-3">
    <label class="form-label">Dirección</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="cliente_nuevo.direccion"
      name="direccion"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Código Postal</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="cliente_nuevo.cod_postal"
      name="cod_postal"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Localidad</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="cliente_nuevo.localidad"
      name="localidad"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Provincia</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="cliente_nuevo.provincia"
      name="provincia"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Pais</label>
    <input type="text" class="form-control" [(ngModel)]="cliente_nuevo.pais" name="pais" required />
  </div>

  <button type="submit" class="btn btn-primary">Guardar Cliente</button>
</form>
