/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Montserrat';
    font-size: 1.5vh;
}



/* Todos los componentes, tanto el sidebar como el que llamemos */
.main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    
}



.router{
    overflow: hidden;
        
}

.sidebar{


    
}

