span{
    width: 19vh;
    /* background-color: #ff905057; */

}

.span_contenedor{
    width: 22vh;
}


.botones{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#limpiar_formulario_btn{
    margin-left: auto;

}

.buscador_item:hover{
    background-color:  #4d5b9f41;
    cursor: pointer;
}

.label_sin_negrita:hover{
    cursor: pointer;
}
