<h3>Recogidas Sercampo</h3>


<div class="botones container mb-3">
    <button class="btn btn-outline-secondary sm">RECOGIDA HORECA</button>
    <button class="btn btn-outline-secondary sm">RECOGIDA CONTENEDOR</button>
    <button class="btn btn-outline-secondary sm">RECOGIDA EESS</button>
</div>

<form >
  <div class="mb-3 mt-5">
    <label class="form-label">aqui ponemos el tipo segun el boton pulsado</label>
    <input type="text" class="form-control"  name="numEESS" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input type="text" class="form-control"  name="nombre" required>
  </div>

  <div class="mb-3">
    <label class="form-label">CIF</label>
    <input type="text" class="form-control" name="cif" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Teléfono</label>
    <input type="text" class="form-control"  name="telefono" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Notas</label>
    <textarea class="form-control"  name="notas" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Guardar Cliente</button>

</form>