/* ------------ GENERALES ------------*/

p{
    font-size: smaller;
    text-align: center;
}

tr{
  font-size: smaller;
  text-align: left;
}

tr th{
  font-size:small;
  padding-left: 4px;
}


/* --------------- ESTADISTICAS --------------*/
.stats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vh;
}

.estadisticas-container .card{
      width: 8rem;
      background-color: #4d5b9f18;
      display: block;
      
}


/* ---------------- FILTROS --------------- */

.filtros-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-select, .form-control, .date{
  font-size: small;
}

.form-select, .form-control, .date:hover{
  cursor: pointer;
}

.boton-buscar{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 22.5vh;
}




/* ------------- TARJETAS UTLIMAS RUTAS -----------*/
.ult-rutas-container{

  display: flex;
  flex-direction: column;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


}


.custom-card {
  border: none;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}



.card-title {
  font-size: small;
  font-weight: bold;
  /* margin-bottom: 1rem; */
  color: #2c3e50;
}

.row label{
  font-size: small;
  font-weight: normal;
}

.table-recogidas{
  /* border: none; */
  text-align: center;
}

.table-recogidas thead{
  background: #4b4b9f27;
/* background: radial-gradient(circle, rgba(255, 143, 80, 1) 0%, rgba(75, 75, 159, 1) 100%); */
}


.mas-info-collapse{
  border: 3px solid red;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  CSS PRUEBAS */


/* GRID de mini tarjetas */
.info-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* gap:1vh; */
}

/* Mini tarjetas */
.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #4d5b9f18;
  border-radius: 12px;
  padding: 12px 14px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

/* .info-item:hover {
  background: #ffffff;
  border: 1px solid #dee2e6;
  transform: scale(1.02);
} */