.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin-left: 12vh;
    margin-right:12vh;
}

.card {
    /* padding: 20px; */
    width: 12rem;
    height: 12rem;
    cursor: pointer;
    box-shadow: var(--sombra-negra);
    
}

.card:hover{
    
    box-shadow: var(--sombra-azul);
}

.card-body {
    text-align: center;
}
