<h1>Últimas Recogidas</h1>

<div class="estadisticas-container">
    <p>aqui irian las tarjetas con los datos</p>

    <ul>
        <li>Filtrar por Fecha</li>
        <li>Filtrar por Nombre</li>
        <li>Filtrar por Municipio</li>
        <li></li>
        <li></li>
    </ul>
</div>

<hr>

<div class="ult-recogidas-container">
    <p>aqui iria una lista de las ultimas recogidas</p>
 
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
   Mas info
  </button>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    
 <ul>
        <li>Nombre</li>
        <li>Tipo legal</li>
        <li>Litros</li>
        <li>Fecha</li>
        <li>Conductor</li>
        <li>Direccion</li>
        <li>Municipio</li>
    </ul>

  </div>
</div>

</div>