<h1>Últimas Recogidas</h1>

<div class="estadisticas-container">
  <p class="card-text text-center">
    Estadísticas a partir de {{ datos.fecha | date: 'dd/MM/yyyy' }}
  </p>
  <div class="stats">
    <div class="card" style="width: 8rem">
      <div class="card-body text-center">
        <!-- <i class="bi bi-droplet-fill card-img-top icon-admin "></i> -->
        <label for="card-text">{{estadisticas.litros}}</label>
        <!-- <h5 class="card-title">Card title</h5> -->
        <p class="card-text text-center">Litros</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <div class="card" style="width: 8rem">
      <div class="card-body text-center">
        <!-- <i class="bi bi-droplet-fill card-img-top icon-admin "></i> -->
        <label for="card-text">{{estadisticas.recogidas_totales}}</label>
        <!-- <h5 class="card-title">Card title</h5> -->
        <p class="card-text text-center">Recogidas Totales</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <div class="card" style="width: 8rem">
      <div class="card-body text-center">
        <!-- <i class="bi bi-droplet-fill card-img-top icon-admin "></i> -->
        <label for="card-text">{{estadisticas.euros_entregado}}</label>
        <!-- <h5 class="card-title">Card title</h5> -->
        <p class="card-text text-center">€ entregados</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <div class="card" style="width: 8rem">
      <div class="card-body text-center">
        <!-- <i class="bi bi-droplet-fill card-img-top icon-admin "></i> -->
        <label for="card-text">{{estadisticas.horecas_recogidos}}</label>
        <!-- <h5 class="card-title">Card title</h5> -->
        <p class="card-text text-center">Horecas Recogidos</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <div class="card" style="width: 8rem">
      <div class="card-body text-center">
        <!-- <i class="bi bi-droplet-fill card-img-top icon-admin "></i> -->
        <label for="card-text">{{estadisticas.contenedores_recogidos}}</label>
        <!-- <h5 class="card-title">Card title</h5> -->
        <p class="card-text text-center">Contenedores Recogidos</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <div class="card" style="width: 8rem">
      <div class="card-body text-center">
        <!-- <i class="bi bi-droplet-fill card-img-top icon-admin "></i> -->
        <label for="card-text">{{estadisticas.eess_recogidos}}</label>
        <!-- <h5 class="card-title">Card title</h5> -->
        <p class="card-text text-center">EESS recogidas</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
</div>

<hr />

<div class="ult-recogidas-container">
  @for (recogida of array_recogidas; track $index) {
  <div class="card mb-4 custom-card">
    <div class="card-body">

      <div class="title-boton">
        <h5 class="card-title">
          {{ recogida.fecha }} - {{ recogida.nombre_cliente }}
        </h5>

        <div class="boton-masinfo mb-3">
          <button class="btn btn-sercampo btn-sm" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + $index"
            aria-expanded="false">
            Más info
          </button>
        </div>

      </div>

      <div class="info-grid">
        <div class="info-item">
          <span class="label">Tipo legal</span>
          <span class="value">{{ recogida.tipo_legal }}</span>
        </div>

        <div class="info-item">
          <span class="label">Litros</span>
          <span class="value">{{ recogida.litros_recogidos }}</span>
        </div>

        <div class="info-item">
          <span class="label">Conductor</span>
          <span class="value">{{ recogida.nombre_conductor }}</span>
        </div>

        <div class="info-item">
          <span class="label">Municipio</span>
          <span class="value">{{ recogida.municipio }}</span>
        </div>

        <div class="info-item">
          <span class="label">Dirección</span>
          <span class="value">{{ recogida.direccion }}</span>
        </div>
      </div>
      <div class="collapse mt-3" id="collapse{{$index}}">
        <div class="card card-body">
              <!-- Bayetas: {{recogida.bayetas.cantidad}} - {{recogida.bayetas_coste}} -->
              <table border="1">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total €</th>
              </tr>
            </thead>
            <tbody>
               @for (key of productosKeys; track key) {      
                  @if (key == recogida[key + '_nombre']) {
                    <tr>
                      <td>{{key}}</td>
                      <td>{{recogida[key + '_cantidad']}}</td>
                      <td>{{recogida[key + '_coste']}} €</td>
                      <!-- <td>{{recogida[total_gasto] = recogida[key + '_cantidad'] * recogida[key + '_coste']}}</td> -->
                    </tr>
                  }
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  }

</div>