h1{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

/* Para switch de Bootstrap */
.form-switch .form-check-input:checked {
  background-color: #28a745;  /* Verde */
  border-color: #28a745;
}


