<h1 class="display-1">{{cliente.nombre}}</h1>
   
    <div class="dashboard container-md">

        <div class="tabla">
            
            <table class="table">
                <thead>
                    <tr>
                            <th class="table-primary">ID Contenedor</th>
                            <th class="table-primary">PointID Cliente</th>
                            <th class="table-primary">Nombre Cliente</th>
                            <th class="table-primary">CIF Cliente</th>
                            <th class="table-primary">Telefono</th>
                            <th class="table-primary">Codigo Postal</th>
                            <th class="table-primary">Direccion</th>
                            <th class="table-primary">Localidad</th>
                            <th class="table-primary">Provincia</th>
                            <th class="table-primary">Tipo Contenedor</th>
                            <th class="table-primary">Tipo Legal</th>
                            <th class="table-primary">Activo</th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="table-ligth">
                                <td>{{cliente.id_contenedor}}</td>
                                <td>{{cliente.PointID}}</td>
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.cif}}</td>
                                <td>{{cliente.telefono}}</td>
                                <td>{{cliente.cod_postal}}</td>
                                <td>{{cliente.direccion}}</td>
                                <td>{{cliente.localidad}}</td>
                                <td>{{cliente.provincia}}</td>
                                <td>{{cliente.tipo}}</td>
                                <td>{{cliente.tipo_legal}}</td>
                                <td>
                                <div class="form-check form-switch">
                                <!-- <input 
                                    (click)="cambiarEstado()"
                                    class="form-check-input" 
                                    type="checkbox" 
                                    [(ngModel)]="activado"> -->
                                <button (click)="cambiarEstado()" class="btn btn-warning btn-sm">{{cliente.activo}}</button> 
                                <label class="form-check-label"></label>
                                </div>
                                </td>
                        </tr>
                </tbody>
            </table>
            <button (click)="modificarCliente()" class="btn btn-warning btn-sm">Modificar Cliente</button> 
        </div>
    </div>

