<h1>{{cliente.nombre}}</h1>
   
    <div class="dashboard">

        <div class="tabla">
            
            <table class="table">
                <thead>
                    <tr>
                        <th class="table-primary" >Id cliente</th>
                        <th class="table-primary">PointID</th>
                        <th class="table-primary">Nombre</th>
                        <th class="table-primary">CIF</th>
                        <th class="table-primary">Teléfono</th>
                        <th class="table-primary">Notas</th>
                        <th class="table-primary">Dirección</th>
                        <th class="table-primary">Localidad</th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="table-ligth">
                            <td>{{cliente.id_cliente}}</td>
                            <td>{{cliente.PointID}}</td>
                            <td>{{cliente.nombre}}</td>
                            <td>{{cliente.cif}}</td>
                            <td>{{cliente.telefono}}</td>
                            <td>{{cliente.notas}}</td>
                            <td>{{cliente.direccion}}</td>
                            <td>{{cliente.localidad}}</td>
                        </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

<form (ngSubmit)="anadirCliente(this.cliente_nuevo)">

  <div class="mb-3">
    <label class="form-label">PointID</label>
    <input type="text" class="form-control" [(ngModel)]="cliente_nuevo.PointID" name="nombre" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input type="text" class="form-control" [(ngModel)]="cliente_nuevo.nombre" name="nombre" required>
  </div>

  <div class="mb-3">
    <label class="form-label">CIF</label>
    <input type="text" class="form-control" [(ngModel)]="cliente_nuevo.cif" name="cif" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Teléfono</label>
    <input type="text" class="form-control" [(ngModel)]="cliente_nuevo.telefono" name="telefono" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Notas</label>
    <textarea class="form-control" [(ngModel)]="cliente_nuevo.notas" name="notas" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Guardar Cliente</button>

</form>