<p>dashboard.component works!</p>


<h3>Clientes Sercampo</h3>

<!-- <form action="#" method="post">
    <p>Seleccionar cliente por nombre:</p>
    <br>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" [(ngModel)]="nombre">
    <button type="submit" >Buscar</button>
</form> -->


<table>
    <thead>
        <tr>
            <th>Id cliente</th>
            <th>PointID</th>
            <th>Nombre</th>
            <th>CIF</th>
            <th>Teléfono</th>
            <th>Notas</th>
        </tr>
    </thead>
    <tbody>
        @for (cliente of clientes; track cliente.id_cliente){
            <tr>
                <td>{{cliente.id_cliente}}</td>
                <td>{{cliente.PointID}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.cif}}</td>
                <td>{{cliente.telefono}}</td>
                <td>{{cliente.nota}}</td>
            </tr>
        }
    </tbody>
</table>