.dashboard{
    border: 2px rgb(248, 104, 1) solid;
    text-align: center;
}



.buscador{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 1em;
   padding-top: 1em;
   padding-bottom: 1em;
   
}



