.dashboard{
    display: block;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}

button{
    
    width: 175px;
    /* background-color: rgb(212, 248, 246); */
    font-weight: bold;
    border-radius: 5px;
}

.buscador{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 1em;
   padding-top: 1em;
   padding-bottom: 1em;
   
}



.tabla{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
th{
    padding: 10px;
    /* background-color: lightblue; */
}
td{
    padding: 5px;
    /* background-color: rgba(173, 216, 230, 0.212); */
}



