<h3 class="display-3">Clientes Sercampo</h3>

    <div class="dashboard container-md">
        <div class="buscador ">
            <input  class="form-control " type="text" [(ngModel)]="cliente.dato" (keyup)="cargarClientesGeneral()" placeholder="Cliente"/>
            <button class="btn btn-outline-primary" type="button" (click)="cargarClientesGeneral()">Buscar</button>
        </div>
        
        <div class="tabla">
            
            <table class="table">
                <thead>
                    <tr>
                        <th class="table-primary" >Id cliente</th>
                        <th class="table-primary">PointID</th>
                        <th class="table-primary">Nombre</th>
                        <th class="table-primary">CIF</th>
                        <th class="table-primary">Teléfono</th>
                        <th class="table-primary">Notas</th>
                    </tr>
                </thead>
                <tbody>
                    @for (cliente of clientes; track cliente.id_cliente){
                        <tr class="table-ligth">
                            <td (click)="redirigirCliente(cliente.id_cliente)">{{cliente.id_cliente}}</td>
                            <td (click)="redirigirCliente(cliente.id_cliente)">{{cliente.PointID}}</td>
                            <td (click)="redirigirCliente(cliente.id_cliente)">{{cliente.nombre}}</td>
                            <td (click)="redirigirCliente(cliente.id_cliente)">{{cliente.cif}}</td>
                            <td (click)="redirigirCliente(cliente.id_cliente)">{{cliente.telefono}}</td>
                            <td (click)="redirigirCliente(cliente.id_cliente)">{{cliente.nota}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
