<div class="main-container">
    <nav class="navbar">
        <ul>
            <li><button class="btn btn-outline-primary btn-sm" 
                        [routerLink]="['/dashboard']">Inicio</button></li>      
            <li><button class="btn btn-outline-primary btn-sm" 
                        [routerLink]="['/nuevoCliente']">Nuevo Cliente</button></li>      
            <li><button class="btn btn-outline-primary btn-sm" 
                        [routerLink]="['/recogidas']">Recogidas</button></li>      
        </ul>
    </nav>
</div>