.sidebar {
    height: 100%;
    width: 100%;
    background-color: #4d5b9f4f;
    
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.logo-sercampo {
    margin-bottom: 3vh;
    text-align: center;
}

.logo-sercampo img {
    max-width: 20vh;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1vh; 
}

.navbar li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar button {
    width: 16vh; 
    height: 5vh;
}

.btn-primary:hover{
    background-color: #ff8f50;
  
}

.btn-primary {
    border: none;
    background-color: #4d5b9f;
}