ul,li, a{
    list-style: none;
   
}

.main-container {
    border: 1px solid green;
    background-color: rgb(210, 224, 253);
    /* display: flex;
    justify-content: center; */
    position: fixed;
    height: 100vh;
    padding-right: 5%;
    
}

ul{
    display: block;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    padding-top: 20%;
}

.btn{
    margin-bottom: 0.5em;
    width: 8em;
    

}

