<h1>Estadísticas</h1>

<div class="cards-container mt-4 mb-4">

  <div class="card mb-4" [routerLink]="['/ultimasRecogidas']">
    <div class="card-img-top text-center py-1">
      <i class="bi bi-box card-img-top icon-admin "></i>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Últimas Recogidas</h5>
    </div>
  </div>
  <div class="card mb-4" [routerLink]="['/ultimasRutas']">
    <div class="card-img-top text-center py-1">
      <i class="bi bi-signpost-split-fill card-img-top icon-admin "></i>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Ultimas Rutas</h5>
    </div>
  </div>
  <!-- <div class="card mb-4" [routerLink]="['/ultimasRutas']">
    <div class="card-img-top text-center py-1">
      <i class="bi bi-balloon-heart card-img-top icon-admin "></i>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Ultimos romances de los conductores</h5>
    </div>
  </div> -->

</div>