<h1>Estadísticas</h1>

<div class="cards-container mt-4 mb-4">

  <div class="card mb-4" [routerLink]="['/ultimasRecogidas']">
    <div class="card-img-top text-center py-1">
      <i class="bi bi-box card-img-top icon-admin "></i>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Últimas Recogidas</h5>
    </div>
  </div>
  <div class="card mb-4" [routerLink]="['/productos']">
    <div class="card-img-top text-center py-1">
      <i class="bi bi-box card-img-top icon-admin "></i>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Productos Entregados</h5>
    </div>
  </div>

</div>